/* フォントの読み込み */
@font-face {
  font-family: 'DSEG7';
  src: url('fonts-DSEG_v046/DSEG14-Classic-MINI/DSEG14ClassicMini-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

/* 電卓全体 */
#calc {
  width: 250px;
  margin: 50px auto;
  padding: 10px;
  background-color: #222;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

/* ディスプレイ */
#calc > div:first-child {
  display: flex;
  align-items: center;
  height: 50px;
  margin-bottom: 10px;
}

#display {
  flex: 1;
  height: 50px;
  background-color: #000;
  color: #0f0;
  text-align: right;
  padding: 0 10px;
  font-size: 24px;
  line-height: 50px;
  border-radius: 8px;
  overflow-x: auto;
}

/* ボタン行 */
#calc > div:not(:first-child) {
  display: flex;
  margin-bottom: 10px;
}

/* ボタン共通 */
.btn {
  flex: 1;
  margin: 2px;
  height: 50px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.1s;
}

/* 数字ボタン */
.num {
  font-family: 'DSEG7';
  background-color: #444;
  color: #fff;
}

.parentheses {
  background-color: #444;
  color: #fff;
}

.operator,
.equal {
  background-color: #ff9500;
  color: #fff;
}

.ac {
  font-family: 'DSEG7';
  background-color: #ff3b30;
  color: #fff;
}


/* 押した時の効果 */
.btn:active {
  transform: scale(0.95);
}
